{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h1> ADD NEW TASK </h1>
    <label for="title">Task Title:</label>
    <input type="text" id="title" name="title" placeholder="Enter task title" required>
    <br>

    <label for="description">Description:</label>
    <textarea id="description" name="description" rows="4" placeholder="Enter task details" required></textarea>
    <br>

    <label for="Person">Assigned To:</label>
    <input type="text" id="person" name="person" placeholder="Enter name" required>
    <br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Enter email" required>
    <br>

    <label for="deadline">Deadline:</label>
    <input type="date" id="deadline" name="deadline" required>
    <br>

    <label for="status">Choose status:</label>
    <select name="status" id="status">
        <option value="assigned">Assigned</option>
        <option value="ongoing">Ongoing</option>
        <option value="pending">Pending</option>
        <option value="completed">Completed</option>
    </select><br>
    <input type="submit" value="Submit">
</form>

{% endblock %}